<div class='row' id='feedback' style="display:none;">
	<div class='col-12'>
		<h3>Feedback From</h3>
		<div class="card">
			<div class="card-body">
				<p>Thank you for completing our entire study! Please provide feedback about the study.</p>
				<form id="feedbackform1">
					<div class="form-group">
						<label for="feedback1"><strong> Did all features work as expected, including all buttons and links? </strong></label>
						<textarea class="form-control" id="feedback1" rows="4"
							placeholder="Start typing feedback here..."></textarea>
					</div>
				</form>
				<form id="feedbackform2">
					<div class="form-group">
						<label for="feedback2"><strong> Were any visual elements hard to understand? </strong></label>
						<textarea class="form-control" id="feedback2" rows="4"
							placeholder="Start typing feedback here..."></textarea>
					</div>
				</form>
				<form id="feedbackform3">
					<div class="form-group">
						<label for="feedback3"><strong> Was the objective of the stufy clear to you? If so, what was your thought process while trying out different prompts? </strong></label>
						<textarea class="form-control" id="feedback3" rows="4"
							placeholder="Start typing feedback here..."></textarea>
					</div>
				</form>
				<button type="button" class="btn btn-primary" id='feedback-button'>Continue</button>
			</div>
		</div>
	</div>
</div>