<div class='row' id='introduction' style = "display:none;">
	<div class='col-12'>
		<h3>Introduction</h3>

		<div class="card">
			<div class="card-body">
				<p>In this study, you will first observe images that the model has categorized both correctly and incorrectly. Then, you will be asked to propose 3-5 short, descriptive phrases to specify what the model is missing or misjudging.</p>
				<button type="button" class="btn btn-primary" id='introduction-button'>Begin</button>
				</form>
			</div>
		</div>

	</div>
</div>