<div class='row' id='onboarding' style="display:none">
	<div class='col-12'>
		<h3>Welcome!</h3>

		<div class="card">
			<div class="card-body">
				<p> You are invited to provide annotations for Clarify, a new interface for providing feedback to AI models.</p>
				<p> <strong>Time: </strong> Your participation will take approximately <span id="time"></span> minutes. </p>
				<p> <strong>Payment: </strong> You will receive $<span id="payment"></span> as payment for your participation. 

<!-- 				You will also have the opportunity to receive bonuses in this study.
 -->			</p>
				<p> <strong>Qualifications: </strong>This study is best viewed on a desktop computer, using Windows or Macintosh operating systems, and on Google Chrome. We require that participants are in the United States to view this study. We use third-party appliations to verify this, so do not do this study if you are not in the United States, because we will reject your work. 
		</p>
		</div>
		</div>
		<br><br>
		<h3>Participant Rights</h3>

		<div class="card">
			<div class="card-body">
				<p>If you have read this form and have decided to participate in this project, please understand your participation is voluntary and you have the right to withdraw your consent or discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled. The alternative is not to participate. You have the right to refuse to answer particular questions. The results of this research study may be presented at scientific or professional meetings or published in scientific journals. Your individual privacy will be maintained in all published and written data resulting from the study. </p>
				
				<p> <strong>Risks & Benefits: </strong> The risks associated with this study are none. The benefits which may reasonably be expected to result from this study are none. We cannot and do not guarantee or promise that you will receive any benefits from this study. </p>

				<p> <strong>Contact Information: </strong> If you have any questions, concerns or complaints about this research, its procedures, risks and benefits, contact us via the Prolific Messaging System. </p>

				<p> If you agree to participate in this research, please mark "Agree" below and complete the remainder of the survey. </p>

				<p> <strong>By clicking "Agree" below, you are agreeing to participating in this study. Participation is voluntary and can be terminated at any time. We will not be collecting identifiable information. </strong></p>

				<div class="form-check">
				  <input class="form-check-input" type="radio" name="agree" id="agree">
				  <label class="form-check-label" for="agree">
				    Agree
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="radio" name="agree" id="disagree">
				  <label class="form-check-label" for="disagree">
				    Disagree
				  </label>
				</div>
				<br>
				<button type="button" class="btn btn-primary" id='consent-button'>Continue</button>
			</div>
		</div>

	</div>
</div>